@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

<p><h4>Welcome to our <b>Blazor server</b> application! Blazor is a framework for building web applications using C# and .NET. This allows for faster development and easier maintenance of your code. With Blazor, you can take advantage of the power and performance of C# and .NET to build dynamic, interactive web applications. Our application is designed to be fast, responsive and easy to use. Thanks for choosing us!</h4></p>
